@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

.main {
    background-image: url("Assets/images/bg.jpg");
    height: 644px;
    width: 100%;
    max-width: 100vw;
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: contain;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 90vw;
    margin: auto;
    justify-content: space-around;
    gap: 40vw;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav button {
    position: relative;
    z-index: 10;
}

.lng {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.lng svg {
    width: 16px;
}

.lng .arrow {
    font-size: 8px;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    gap: 23px;
    padding: 0 30px;
    text-align: center;
}

.hero> :first-child {
    font-size: 48px;
    font-weight: 900;
}

.separation {
    height: 7px;
    background-color: rgb(46, 45, 45);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 6px 20px;
    font-weight: 400;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.063);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.175);
    border-radius: 4px;
    cursor: pointer;
}

.hero input {
    width: 230px;
    height: 33px;
}

.hero .hero-buttons .btn {
    width: 200px;
    height: 50px;
}

.btn-red {
    background-color: red;
    padding: 3px 24px;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.463);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 119px;
    right: 77px;
    width: 405px;
}

.third .secImg video {
    position: absolute;
    top: 79px;
    right: 110px;
    width: 341px;
}

.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div span:first-child {
    font-size: 48px;
    font-weight: 900;
    line-height: 110%;
    font-family: "Martel Sans", sans-serif;
}

.first>div span:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    font-family: "Martel Sans", sans-serif;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}

.faqbox {
    display: flex;
    background-color: rgb(45, 45, 45);
    justify-content: space-between;
    padding: 24px;
    max-width: 90vw;
    margin: 10px auto;
    transition: all 250ms cubic-bezier(0.5, 0, 0.1, 1);

}

.faqbox:hover {
    background-color: rgb(65, 65, 65);
}

.faq svg {
    filter: invert(1);
}

footer {
    color: rgba(255, 255, 255, 0.7);
    max-width: 90vw;
    margin: auto;
    padding: 34px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
    gap: 20px;
}

.footer a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

footer span {
    margin: 2px 30vw;
    padding: 34px 0;
}

@media screen and (max-width: 960px) {
    nav {
        display: flex;
        max-width: 90vw;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    .first {
        flex-wrap: wrap;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    nav {
        max-width: 90vw;
        gap: 0;
    }

    .hero-buttons {
        display: flex;
        flex-direction: rows;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .first:nth-child(2n) .secImg {
        order: 2;
    }

    .first div span:first-child {
        font-size: 32px;
        margin-top: 40px;
    }

    .first div span:nth-child(2) {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .hero .hero-buttons {
        flex-direction: column;
        align-items: center;
    }

    .flex span:nth-child(2) {
        display: none;
    }

    nav {
        max-width: 90vw;
        gap: 0;
        justify-content: space-between;
    }

    .secImg img {
        width: 80vw;
    }

    .secImg video {
        top: 25%;
        right: 12%;
        width: 60vw;
    }

    .third .secImg video {
        top: 18%;
        right: 20%;
        width: 50vw;
    }
}

@media screen and (max-width: 350px) {
    nav {
        flex-direction: column;
    }

    .hero input {
        width: 50vw;
    }

    .hero .btn {
        width: 35vw;
    }

    .faq h2 {
        font-size: 80%;
    }

    .secImg video {
        top: 29%;
        right: 12%;
        width: 60vw;
    }

    .third .secImg video {
        top: 24%;
        right: 20%;
        width: 50vw;
    }
}